*~
*.bak
*.swp
.DS_Store
*.vscode
/.Build/bin/*
/.Build/public/*
/.Build/vendor/*
/vendor/*
/.cache
/public/*
/Documentation-GENERATED-temp/*
.php_cs.cache
.php-cs-fixer.cache
composer.lock
/var/*
/specs/
/.Build/
